<h1>Hi - <%= @user.first_name%></h1>
<h2> Click the link below ito confirm your email </h2>
<%= link_to 'Confirm registration!!', 'https://young-spire-61946.herokuapp.com/api/confirm_email?confirm_token=' + @user.confirm_token + '&back_url=' + @back_url%>